# Machine Learning - Wine Quality Dataset

## Part 1: 

Import the following datasets and combine into a single data frame  
https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv 

Create a new variable called ‘color’ with values of ‘red’ or ‘white’ depending on the file source 

Compare the mean ‘quality’ for each of red and white wine with "groupby" function – which has the highest quality? 

View the min, 25%, 50%, 75%, max ‘pH’ values with Pandas describe function 

Use the percentiles to define the limits of a new variable called 'acidity_levels' which contains four acidity level groups 'high', 'mod_high', 'medium', 'low' 

Find the mean quality of each acidity level with "groupby" function 

## Part 2: 
Define a function that includes standard data quality checks that can be applied to a dataframe

# Part 1

In [1]:
# Import libraries for use
import pandas as pd
import time
import sys
import numpy as np
from IPython.display import display, HTML

In [2]:
# Set default options for the notebook
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.4f}'.format # Comma and four decimal places for float variables

In [3]:
# Import csv files
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
#url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"
df = pd.read_csv(url, sep=';')
df.head()
#print(f'{df.shape}')
#print(help(pd.read_csv))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4000,0.7000,0.0000,1.9000,0.0760,11.0000,34.0000,0.9978,3.5100,0.5600,9.4000,5
1,7.8000,0.8800,0.0000,2.6000,0.0980,25.0000,67.0000,0.9968,3.2000,0.6800,9.8000,5
2,7.8000,0.7600,0.0400,2.3000,0.0920,15.0000,54.0000,0.9970,3.2600,0.6500,9.8000,5
3,11.2000,0.2800,0.5600,1.9000,0.0750,17.0000,60.0000,0.9980,3.1600,0.5800,9.8000,6
4,7.4000,0.7000,0.0000,1.9000,0.0760,11.0000,34.0000,0.9978,3.5100,0.5600,9.4000,5

In [4]:
# Search for string value in URL location
print(url.find("red"))
print(url.find("white"))
checkList = ['red','white']
c = [x for x in checkList if url.find(x) > 0]
print(c)

83
-1
['red']

In [5]:
# Import csv files
url1 = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
url2 = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"
df1 = pd.read_csv(url1, sep=';')
df2 = pd.read_csv(url2, sep=';')
print(f'shape of df1 : {df1.shape}')
print(f'shape of df2 : {df2.shape}')

shape of df1 : (1599, 12)
shape of df2 : (4898, 12)

In [6]:
# Add new variable
for n in checkList:
    if url1.find(n) > 0:
        df1['colour'] = n
    elif url2.find(n) > 0:
        df2['colour'] = n
    else:
        pass

In [7]:
# Combine DataFrames
df = pd.concat([df1,df2])
df.shape

(6497, 13)

In [8]:
# Find the mean value by colour and sort descending
df.groupby('colour')['quality'].mean().sort_values(ascending=False)

colour
white   5.8779
red     5.6360
Name: quality, dtype: float64

In [9]:
# Find the quantile values
df.describe(include='all')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,colour
count,"6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000","6,497.0000",6497
unique,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
top,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,white
freq,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,4898
mean,7.2153,0.3397,0.3186,5.4432,0.0560,30.5253,115.7446,0.9947,3.2185,0.5313,10.4918,5.8184,NaN
std,1.2964,0.1646,0.1453,4.7578,0.0350,17.7494,56.5219,0.0030,0.1608,0.1488,1.1927,0.8733,NaN
min,3.8000,0.0800,0.0000,0.6000,0.0090,1.0000,6.0000,0.9871,2.7200,0.2200,8.0000,3.0000,NaN
25%,6.4000,0.2300,0.2500,1.8000,0.0380,17.0000,77.0000,0.9923,3.1100,0.4300,9.5000,5.0000,NaN
50%,7.0000,0.2900,0.3100,3.0000,0.0470,29.0000,118.0000,0.9949,3.2100,0.5100,10.3000,6.0000,NaN
75%,7.7000,0.4000,0.3900,8.1000,0.0650,41.0000,156.0000,0.9970,3.3200,0.6000,11.3000,6.0000,NaN
max,15.9000,1.5800,1.6600,65.8000,0.6110,289.0000,440.0000,1.0390,4.0100,2.0000,14.9000,9.0000,NaN

In [10]:
# Creating new variable "acidity_levels"
labels = ['low','medium','mod_high','high']
df['acidity_levels'] = pd.qcut(df['pH'],4,labels=labels)

In [11]:
# Adding a ranking value for variable
df['pHRank'] = df.pH.rank(pct=True)

In [15]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,colour,acidity_levels,pHRank
0,7.4000,0.7000,0.0000,1.9000,0.0760,11.0000,34.0000,0.9978,3.5100,0.5600,9.4000,5,red,high,0.9547
1,7.8000,0.8800,0.0000,2.6000,0.0980,25.0000,67.0000,0.9968,3.2000,0.6800,9.8000,5,red,medium,0.4837
2,7.8000,0.7600,0.0400,2.3000,0.0920,15.0000,54.0000,0.9970,3.2600,0.6500,9.8000,5,red,mod_high,0.6264
3,11.2000,0.2800,0.5600,1.9000,0.0750,17.0000,60.0000,0.9980,3.1600,0.5800,9.8000,6,red,medium,0.3795
4,7.4000,0.7000,0.0000,1.9000,0.0760,11.0000,34.0000,0.9978,3.5100,0.5600,9.4000,5,red,high,0.9547

In [18]:
# Review the boundaries
df_s = df.groupby('acidity_levels').agg(
    {
        "pH":['min','max','count']
        ,"pHRank":['min','max']
    })
df_s.columns = ["_".join(x) for x in df_s.columns.ravel()]
df_s

                pH_min  pH_max  pH_count  pHRank_min  pHRank_max
acidity_levels
low             2.7200  3.1100      1718      0.0002      0.2541
medium          3.1200  3.2100      1643      0.2764      0.5073
mod_high        3.2200  3.3200      1562      0.5316      0.7477
high            3.3300  4.0100      1574      0.7644      0.9999

In [19]:
# Find the mean quality by each acidity level
df.groupby('acidity_levels')['quality'].mean()

acidity_levels
low        5.7835
medium     5.7845
mod_high   5.8508
high       5.8596
Name: quality, dtype: float64

In [20]:
pcts = [x for x in np.linspace(0,100,num=5,endpoint=True)]
print(pcts)
pctsList = [x for x in np.percentile(df['pH'],pcts)]
pctsList

[0.0, 25.0, 50.0, 75.0, 100.0]

[2.72, 3.11, 3.21, 3.32, 4.01]

In [21]:
# Try to use the cut method
labels = ['low','medium','mod_high','high']
#df['acidity_level_bins'] = pd.cut(df['pH'],bins=[df['pH'].min(),3.11,3.21,3.32,4.01])
df['acidity_level_bins'] = pd.cut(df['pH'], bins=pctsList, include_lowest=True)
df['acidity_level1'] = pd.cut(df['pH'], bins=pctsList, labels=labels, include_lowest=True)
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,colour,acidity_levels,pHRank,acidity_level_bins,acidity_level1
1466,7.3000,0.4800,0.3200,2.1000,0.0620,31.0000,54.0000,0.9973,3.3000,0.6500,10.0000,7,red,mod_high,0.7079,"(3.21, 3.32]",mod_high
2423,7.2000,0.2400,0.2900,3.0000,0.0360,17.0000,117.0000,0.9941,3.3600,0.6800,10.1000,6,white,high,0.8139,"(3.32, 4.01]",high
1297,7.2000,0.5300,0.1400,2.1000,0.0640,15.0000,29.0000,0.9932,3.3500,0.6100,12.1000,6,red,high,0.7965,"(3.32, 4.01]",high
759,7.1000,0.1300,0.4000,1.2000,0.0470,54.0000,134.0000,0.9932,3.3000,0.9700,9.8000,7,white,mod_high,0.7079,"(3.21, 3.32]",mod_high
1582,6.1000,0.7150,0.1000,2.6000,0.0530,13.0000,27.0000,0.9936,3.5700,0.5000,11.9000,5,red,high,0.9783,"(3.32, 4.01]",high

In [22]:
# Review the boundaries
df_s1 = df.groupby('acidity_level1').agg(
    {
        "pH":['min','max','count']
        ,"pHRank":['min','max']
    })
df_s1.columns = ["_".join(x) for x in df_s1.columns.ravel()]
df_s1

                pH_min  pH_max  pH_count  pHRank_min  pHRank_max
acidity_level1
low             2.7200  3.1100      1718      0.0002      0.2541
medium          3.1200  3.2100      1643      0.2764      0.5073
mod_high        3.2200  3.3200      1562      0.5316      0.7477
high            3.3300  4.0100      1574      0.7644      0.9999

# Part 2

In [23]:
# Define a function for data quality checks
class DataQualityChecks():
    # Constructor
    def __init__(self, df):
        self.df = df
        self.df_miss = None

    # Method 1 - summary stats
    def summaryData(self):
        tmp = self.df.describe(include='all')
        tmp1 = self.df.isnull().sum().sort_values(ascending=False)
        tmp2 = self.df.dtypes
        return print(f'Describe: \n{tmp}\nMissing data:\n{tmp1}\nVariable Types:\n{tmp2}')
        
    # Method 2 - missing data
    def missingData(self):
        # Which columns have missing values
        self.df_miss = self.df.isnull().sum().sort_values(ascending=False)
        return self.df_miss

In [24]:
dq = DataQualityChecks(df)
dq.missingData()
dq.df_miss

acidity_level1          0
density                 0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
pH                      0
acidity_level_bins      0
sulphates               0
alcohol                 0
quality                 0
colour                  0
acidity_levels          0
pHRank                  0
fixed acidity           0
dtype: int64

In [25]:
dq.summaryData()

Describe:
        fixed acidity  volatile acidity  citric acid  residual sugar  \
count      6,497.0000        6,497.0000   6,497.0000      6,497.0000
unique            nan               nan          nan             nan
top               nan               nan          nan             nan
freq              nan               nan          nan             nan
mean           7.2153            0.3397       0.3186          5.4432
std            1.2964            0.1646       0.1453          4.7578
min            3.8000            0.0800       0.0000          0.6000
25%            6.4000            0.2300       0.2500          1.8000
50%            7.0000            0.2900       0.3100          3.0000
75%            7.7000            0.4000       0.3900          8.1000
max           15.9000            1.5800       1.6600         65.8000

        chlorides  free sulfur dioxide  total sulfur dioxide    density  \
count  6,497.0000           6,497.0000            6,497.0000 6,497.0000
unique        nan                  nan                   nan        nan
top           nan                  nan                   nan        nan
freq          nan                  nan                   nan        nan
mean       0.0560              30.5253              115.7446     0.9947
std        0.0350              17.7494               56.5219     0.0030
min        0.0090               1.0000                6.0000     0.9871
25%        0.0380              17.0000               77.0000     0.9923
50%        0.0470              29.0000              118.0000     0.9949
75%        0.0650              41.0000              156.0000     0.9970
max        0.6110             289.0000              440.0000     1.0390

               pH  sulphates    alcohol    quality colour acidity_levels  \
count  6,497.0000 6,497.0000 6,497.0000 6,497.0000   6497           6497
unique        nan        nan        nan        nan      2              4
top           nan        nan        nan        nan  white            low
freq          nan        nan        nan        nan   4898           1718
mean       3.2185     0.5313    10.4918     5.8184    NaN            NaN
std        0.1608     0.1488     1.1927     0.8733    NaN            NaN
min        2.7200     0.2200     8.0000     3.0000    NaN            NaN
25%        3.1100     0.4300     9.5000     5.0000    NaN            NaN
50%        3.2100     0.5100    10.3000     6.0000    NaN            NaN
75%        3.3200     0.6000    11.3000     6.0000    NaN            NaN
max        4.0100     2.0000    14.9000     9.0000    NaN            NaN

           pHRank          acidity_level_bins acidity_level1
count  6,497.0000                        6497           6497
unique        nan                           4              4
top           nan  (2.7190000000000003, 3.11]            low
freq          nan                        1718           1718
mean       0.5001                         NaN            NaN
std        0.2886                         NaN            NaN
min        0.0002                         NaN            NaN
25%        0.2541                         NaN            NaN
50%        0.5073                         NaN            NaN
75%        0.7477                         NaN            NaN
max        0.9999                         NaN            NaN
Missing data:
acidity_level1          0
density                 0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
pH                      0
acidity_level_bins      0
sulphates               0
alcohol                 0
quality                 0
colour                  0
acidity_levels          0
pHRank                  0
fixed acidity           0
dtype: int64
Variable Types:
fixed acidity            float64
volatile acidity         float64
citric acid              float64
residual sugar           float64
chlorides                float64
free sulfur dioxide      float64
total sulfur dioxide     float64
density                  float64
pH                       float64
sulphates                float64
alcohol                  float64
quality                    int64
colour                    object
acidity_levels          category
pHRank                   float64
acidity_level_bins      category
acidity_level1          category
dtype: object